asttokens
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
narwhals
nest-asyncio
networkx
numpy
packaging
pandas
parso
patsy
pillow
platformdirs
plotly
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pyzmq
scipy
seaborn
six
stack-data
statsmodels
tornado
traitlets
tzdata
wcwidth
